*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.vscode/
/.idea/
.DS_Store
/build
/app/build
/app/release
/app/debug
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.apks
*.aab
*.aar
*.class
*.dex
*.o
*.so
*.log
*.tmp
*.orig
*.bak
*.jks
*.keystore
*.p12
keystore.properties
signing.properties
